/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.hero.is-fullheight div.hero-body {
  align-items: flex-start!important;
}

.hero.is-info .navbar-item.addResourceButton:hover {
  background-color: #fff;
}

label.checkbox input[type='checkbox'] {
  margin-bottom: 5px;
  margin-right: 10px;
  vertical-align: 'middle';
}

div.card-content {
  padding: 0.75rem 0.75rem 2rem 0.75rem ;
}

input.searchBar {
  /* min-width: 20vw; */
  line-height: 0.75rem;
  height: 75%;
}

.category-heading, .commodity-heading {
  font-family: Arial;
}

.category-heading.title, .commodity-heading.title {
  font-size: 1.5rem;
  font-family: Arial;
}

.category-checkbox {
  font-family: Arial;
}

.filters .control {
  font-size: 1rem;
}
@media screen and (max-width: 769px) {
  .filters .control:not(:first-child) {
    padding-left: 2em;
    /* text-align: center; */
  }
}
.filters {
  margin-top: 0.5em;
  /* position: fixed; */
  /* right: 0; */
  max-width: 100%;
}

div.content-wrapper.full-width.without-featured-image {
  margin: 0!important;
}

div.rsbox {
  display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: inherit;
	font-size: 0;
}

div.rsr {
  width: 33.3%;
  transition: .8s opacity;
}
