.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hero.is-fullheight div.hero-body {
  align-items: flex-start!important;
}

label.checkbox input[type='checkbox'] {
  margin-bottom: 5px;
  margin-right: 10px;
  vertical-align: 'middle';
}

.filters input, .filters hr {
  max-width: 75%
}
